#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height:100vh;
  width: 100%;
  box-sizing: border-box;
  background-color:#121212;
}

.loading-spinner {
  width:40px;
  height:40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius:50%;

  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input {
  width: 200px;
}

input:focus {
  outline:1px white solid;
}

#pageTitle {
  filter: drop-shadow(0 0 2em #d3dd1aaa);
  margin-bottom:-20px;
}

#noneshown {
git comm  width: 100%;
}

#cards {
  display:flex;
  flex-wrap:wrap;
  gap: 2rem;
}


.card {
  padding: 2em;
  transition: all 0.1s ease-in;
  color:white;
  flex: 1 1 200px;
}

.card img {
  width: 100%;
  height: auto;
  outline:none;
}

.card:hover {
  box-shadow: 0 0 5px white;
}
